body {
    font-family: sans-serif;
    font-size: 300%;
	padding: 2rem;
}

a {
  text-decoration: none;
}

h2, h3, h4 {
  margin-top: 2rem;
}

ul#top {
  list-style-type: none;
  margin: 1.2rem 0 0 0;
  padding: 0;
}

ul#top > li {
  font-weight: bold !important;
}

ul#top li {
  margin-top: 1.7rem;
  margin-bottom: 1.7rem;
  font-weight: normal;
}

p.back {
  font-size: 3rem;
  padding: 0 1rem 0 0;
}


/* ---------- colors, dark mode ---------- */

a {
  color: #0984ff;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: black !important;
	color: #eee;
  }

  img {
    filter: invert(100%);
  }
}

