name: CI
on:
  push:

jobs:
  build:
    runs-on: macos-15
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: true
          show-progress: false
      - run: sudo xcode-select --switch /Applications/Xcode_26.1.app/Contents/Developer
      - run: cargo install cargo-lipo
      - run: pod install
      - run: xcodebuild -downloadPlatform iOS
      - run: set -o pipefail && xcodebuild -workspace deltachat-ios.xcworkspace -scheme deltachat-ios -destination "platform=iOS Simulator,name=iPhone SE (3rd generation),OS=18.6" test | xcbeautify --renderer github-actions
